<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">User Registration</div>
        <div class="card-body">
          <form (ngSubmit)="register()" [formGroup]="userForm" class="row">
            <!-- Username input -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="username">Username:</label>
                <input
                  type="text"
                  id="username"
                  name="username"
                  class="form-control"
                  formControlName="username"
                />
                <div
                  *ngIf="
                    userForm.get('username').invalid &&
                    (userForm.get('username').dirty ||
                      userForm.get('username').touched)
                  "
                  class="text-danger"
                >
                  Username is required
                </div>
              </div>
            </div>

            <!-- Email input with validation -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  formControlName="email"
                />
                <div
                  *ngIf="
                    userForm.get('email').invalid &&
                    (userForm.get('email').dirty ||
                      userForm.get('email').touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="userForm.get('email').errors.required">
                    Email is required
                  </div>
                  <div *ngIf="userForm.get('email').errors.email">
                    Invalid email format
                  </div>
                </div>
              </div>

              <!-- Send OTP button -->
              <button
                type="button"
                class="btn btn-secondary my-3"
                *ngIf="
                  userForm.get('email').valid &&
                  (userForm.get('email').dirty || userForm.get('email').touched)
                "
                (click)="sendOTP()"
              >
                Send OTP
              </button>
            </div>

            <!-- Password input -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="password">Password:</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  formControlName="password"
                  [pattern]="passwordPattern"
                />
                <div
                  *ngIf="
                    userForm.get('password').invalid &&
                    (userForm.get('password').dirty ||
                      userForm.get('password').touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="userForm.get('password').errors.required">
                    Password is required
                  </div>
                  <div *ngIf="userForm.get('password').errors.pattern">
                    Password must contain at least 8 characters, including
                    special characters, uppercase, lowercase letters and
                    numbers.
                  </div>
                </div>
              </div>
            </div>

            <!-- Confirm Password input -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  class="form-control"
                  formControlName="confirmPassword"
                  [pattern]="passwordPattern"
                />
                <div
                  *ngIf="
                    userForm.get('confirmPassword').invalid &&
                    (userForm.get('confirmPassword').dirty ||
                      userForm.get('confirmPassword').touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="userForm.get('confirmPassword').errors.required">
                    Confirm Password is required
                  </div>
                  <div *ngIf="userForm.get('confirmPassword').errors.pattern">
                    Passwords do not match
                  </div>
                </div>
              </div>
            </div>

            <!-- OTP input -->
            <div class="col-md-6 my-3">
              <div class="form-group" *ngIf="isOtpVisible">
                <label for="otp">Enter OTP:</label>
                <input
                  type="text"
                  id="otp"
                  name="otp"
                  class="form-control"
                  formControlName="otp"
                />
              </div>
            </div>

            <!-- Submit button -->
            <div class="col-md-12 my-3">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
