<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-success text-white text-center">
          REGISTER
        </div>
        <div class="card-body bg-success-subtle">
          <form (ngSubmit)="register()" [formGroup]="userForm" class="row">
            <!-- Username input -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="user_fullname">Full Name:</label>
                <input
                  type="text"
                  id="user_fullname"
                  name="user_fullname"
                  class="form-control"
                  formControlName="user_fullname"
                  placeholder="Enter your full name"
                />
                <div
                  *ngIf="
                    userForm.get('user_fullname').invalid &&
                    (userForm.get('user_fullname').dirty ||
                      userForm.get('user_fullname').touched)
                  "
                  class="text-danger"
                >
                  Username is required
                </div>
              </div>
            </div>

            <!-- Email input with validation -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="user_email">Email:</label>
                <input
                  type="email"
                  id="user_email"
                  name="user_email"
                  class="form-control"
                  formControlName="user_email"
                  placeholder="Enter your email address"
                />
                <div
                  *ngIf="
                    userForm.get('user_email').invalid &&
                    (userForm.get('user_email').dirty ||
                      userForm.get('user_email').touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="userForm.get('user_email').errors.required">
                    Email is required
                  </div>
                  <div *ngIf="userForm.get('user_email').errors.user_email">
                    Invalid user_email format
                  </div>
                </div>
              </div>

              <!-- Send OTP button -->
              <button
                type="button"
                class="btn btn-secondary my-3"
                *ngIf="
                  userForm.get('user_email').valid &&
                  (userForm.get('user_email').dirty ||
                    userForm.get('user_email').touched)
                "
                (click)="sendOTP()"
              >
                Send OTP
              </button>
            </div>

            <!-- Password input -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="user_password">Password:</label>
                <input
                  type="password"
                  id="user_password"
                  name="user_password"
                  class="form-control"
                  formControlName="user_password"
                  [pattern]="passwordPattern"
                  placeholder="Enter your password"
                />
                <div
                  *ngIf="
                    userForm.get('user_password').invalid &&
                    (userForm.get('user_password').dirty ||
                      userForm.get('user_password').touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="userForm.get('user_password').errors.required">
                    Password is required
                  </div>
                  <div *ngIf="userForm.get('user_password').errors.pattern">
                    Password must contain at least 8 characters, including
                    special characters, uppercase, lowercase letters and
                    numbers.
                  </div>
                </div>
              </div>
            </div>

            <!-- Confirm Password input -->
            <div class="col-md-6 my-3">
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  class="form-control"
                  formControlName="confirmPassword"
                  placeholder="Re-enter your password"
                  [pattern]="passwordPattern"
                />
                <div
                  *ngIf="
                    userForm.get('confirmPassword').invalid &&
                    (userForm.get('confirmPassword').dirty ||
                      userForm.get('confirmPassword').touched)
                  "
                  class="text-danger"
                >
                  <div *ngIf="userForm.get('confirmPassword').errors.required">
                    Confirm Password is required
                  </div>
                  <div *ngIf="userForm.get('confirmPassword').errors.pattern">
                    Passwords do not match
                  </div>
                </div>
              </div>
            </div>

            <!-- OTP input -->
            <div class="col-md-6 my-3">
              <div class="form-group" *ngIf="isOtpVisible">
                <label for="user_otp">Enter OTP:</label>
                <input
                  type="text"
                  id="user_otp"
                  name="user_otp"
                  class="form-control"
                  formControlName="user_otp"
                  placeholder="Enter OTP sent to your email"
                />
              </div>
            </div>

            <!-- Submit and Reset buttons -->
            <div class="col-md-12 my-3">
              <button type="submit" class="btn btn-primary mx-3">
                REGISTER
              </button>
              <button type="reset" class="btn btn-secondary">RESET</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
