<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">OFFICE LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booking" routerLinkActive="active"
            >Bookings</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
            >Dashboard</a
          >
        </li>
      </ul>
      <div
        class="clock px-2 py-1"
        style="
          border: 2px dotted black;
          border-radius: 20px;
          transform: translateX(650px);
        "
      >
        <app-clock></app-clock>
      </div>
      <ul class="navbar-nav ml-auto" style="transform: translateX(670px)">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
