<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="max-height: 70px"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://i.ibb.co/9VWrshh/name.png"
        alt="Logo"
        height="80"
        class="d-inline-block align-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booking" routerLinkActive="active"
            >Book Seats</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/ims" routerLinkActive="active"
            >IMS</a
          >
        </li>
      </ul>
      <div
        class="clock px-2 py-1"
        style="
          border: 2px dotted black;
          border-radius: 20px;
          transform: translateX(530px);
        "
      >
        <app-clock></app-clock>
      </div>
      <ul class="navbar-nav ml-auto" style="transform: translateX(530px)">
        <li class="nav-item">
          <a
            class="nav-link mx-3"
            routerLink="/profile"
            routerLinkActive="active"
          >
            <span class="material-icons">account_circle</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="btn btn-link nav-link mx-3" (click)="logout()">
            Logout
          </button>
        </li>
        <!-- Show login button if user is not logged in -->
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link mx-3" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
