<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">LOGIN</div>
        <div class="card-body bg-primary-subtle">
          <form (ngSubmit)="login()" [formGroup]="loginForm">
            <!-- Email input -->
            <div class="form-group my-3">
              <label for="user_email">Email:</label>
              <input
                type="email"
                id="user_email"
                name="user_email"
                class="form-control"
                formControlName="user_email"
                placeholder="Enter your mail"
              />
              <div
                *ngIf="
                  loginForm.get('user_email').invalid &&
                  (loginForm.get('user_email').dirty ||
                    loginForm.get('user_email').touched)
                "
                class="text-danger"
              >
                <div *ngIf="loginForm.get('user_email').errors.required">
                  Email is required
                </div>
                <div *ngIf="loginForm.get('user_email').errors.user_email">
                  Invalid email format
                </div>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-group my-3">
              <label for="password">Password:</label>
              <input
                type="password"
                id="user_password"
                name="user_password"
                class="form-control"
                formControlName="user_password"
                placeholder="Enter your password"
              />
              <div
                *ngIf="
                  loginForm.get('user_password').invalid &&
                  (loginForm.get('user_password').dirty ||
                    loginForm.get('user_password').touched)
                "
                class="text-danger"
              >
                Password is required
              </div>
            </div>

            <!-- Submit button -->
            <button
              type="submit"
              class="btn btn-primary btn-block"
              style="margin-left: 44%"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
