<div class="container">
  <h1 class="text-center mb-4">Infrastructure Management System</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form
        *ngIf="!officeCreated"
        (ngSubmit)="createOffice()"
        #officeForm="ngForm"
      >
        <div class="mb-3">
          <label for="officeName" class="form-label">Office Name:</label>
          <input
            type="text"
            class="form-control"
            id="officeName"
            name="officeName"
            required
            [(ngModel)]="officeName"
          />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
      <div *ngIf="officeCreated">
        <hr />
        <h3>Add Floors</h3>
        <div class="mb-3">
          <label for="numFloors" class="form-label">Number of Floors:</label>
          <input
            type="number"
            class="form-control"
            id="numFloors"
            name="numFloors"
            [(ngModel)]="numFloors"
            required
          />
        </div>
        <button class="btn btn-success mb-3" (click)="addFloors()">
          Add Floors
        </button>
        <div *ngFor="let floor of floors; let i = index" class="mb-4">
          <h4>Floor {{ i + 1 }}</h4>
          <div class="mb-3">
            <label for="numSeats{{ i }}" class="form-label"
              >Number of Seats:</label
            >
            <input
              type="number"
              class="form-control"
              id="numSeats{{ i }}"
              name="numSeats{{ i }}"
              [(ngModel)]="floor.numSeats"
              required
            />
          </div>
          <div class="mb-3">
            <label for="seatType{{ i }}" class="form-label">Seat Type:</label>
            <select
              class="form-control"
              id="seatType{{ i }}"
              name="seatType{{ i }}"
              [(ngModel)]="floor.seatType"
              required
            >
              <option value="Seats">Seats</option>
              <option value="Cubicles">Cubicles</option>
            </select>
          </div>
        </div>
        <button class="btn btn-primary" (click)="submitData()">Submit</button>
      </div>
    </div>
  </div>
</div>
