<div class="container-fluid">
  <div
    class="row justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="col-md-6">
      <div
        class="profile-card p-4 shadow"
        style="background-color: rgba(240, 248, 255, 0.5)"
      >
        <div class="text-center mb-4">
          <div
            class="avatar"
            style="transform: translateX(290px)"
            [style.background-color]="getAvatarColor()"
          >
            {{ user.user_fullName.charAt(0).toUpperCase() }}
          </div>
          <h2>{{ user.user_fullName }}</h2>
        </div>
        <div class="mb-3">
          <p class="mb-1"><strong>Email:</strong> {{ user.email }}</p>
          <span class="mb-0"><strong>Bio:</strong></span>
          <p class="text-center">{{ user.bio }}</p>
        </div>
        <div class="text-center">
          <button class="btn btn-primary mr-2" (click)="toggleEditName()">
            Change Name
          </button>
          <button class="btn btn-primary" (click)="toggleChangePassword()">
            Change Password
          </button>
        </div>
        <div *ngIf="isEditingName" class="mt-3">
          <label for="user_fullname">New Name:</label>
          <input
            type="text"
            class="form-control"
            id="user_fullname"
            [(ngModel)]="user.user_fullName"
          />
          <button class="btn btn-primary mt-2" (click)="saveName()">
            Save
          </button>
        </div>
        <div *ngIf="isChangingPassword" class="mt-3">
          <label for="user_old_password">Current Password:</label>
          <input
            type="password"
            class="form-control"
            id="user_old_password"
            [(ngModel)]="user_old_password"
          />
          <label for="user_new_password">New Password:</label>
          <input
            type="password"
            class="form-control"
            id="user_new_password"
            [(ngModel)]="user_new_password"
          />
          <button class="btn btn-primary mt-2" (click)="changePassword()">
            Change Password
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
