<div class="container" *ngIf="!isAdmin">
  <div class="booking-section-wrapper">
    <h2 class="m-auto my-4">BOOKING DETAILS</h2>
    <div class="booking-section">
      <div class="booking-cards">
        <div class="booking-card" *ngFor="let booking of bookings | keyvalue">
          <div class="card">
            <div class="card-header bg-primary">
              Booking Details - Date: {{ booking.date }}
            </div>
            <div
              class="card-body bg-primary-subtle d-flex justify-content-around fw-medium"
            >
              <p class="card-text">Date: {{ booking.date }}</p>
              <p class="card-text">Space: {{ booking.space }}</p>
              <p class="card-text">Status: {{ booking.status }}</p>
              <button
                class="btn btn-danger align-items-center"
                (click)="cancelBooking(booking)"
              >
                Cancel Booking
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swap-section-wrapper">
    <h2 class="m-auto my-4">SWAP REQUESTS</h2>
    <div class="swap-section">
      <div class="swap-cards">
        <div class="swap-card" *ngFor="let swapRequest of swapRequests">
          <div class="card">
            <div class="card-header bg-warning">
              SWAP Request from -
              <span class="fw-bold">{{
                swapRequest.sender.toUpperCase()
              }}</span>
            </div>
            <div class="card-body bg-warning-subtle">
              <span class="d-flex justify-content-around fw-medium">
                <p class="card-text">Seat ID: {{ swapRequest.seatId }}</p>
                <p class="card-text">Office: {{ swapRequest.officeName }}</p>
              </span>
              <span class="d-flex justify-content-around fw-medium">
                <p class="card-text">Floor: {{ swapRequest.floorName }}</p>
                <p class="card-text">Date: {{ swapRequest.date }}</p>
              </span>
              <span class="d-flex justify-content-around">
                <p class="card-text">
                  Seat Type:
                  <span class="fw-medium">{{ swapRequest.space }}</span>
                </p>
                <p class="card-text">
                  Start Time:
                  <span class="fw-medium">{{ swapRequest.startTime }}</span>
                </p>
                <p class="card-text">
                  End Time:
                  <span class="fw-medium">{{ swapRequest.endTime }}</span>
                </p>
              </span>
              <span class="d-flex justify-content-around">
                <button
                  class="btn btn-success mx-2"
                  (click)="acceptSwapRequest(swapRequest)"
                >
                  Accept
                </button>
                <button
                  class="btn btn-danger mx-2"
                  (click)="rejectSwapRequest(swapRequest)"
                >
                  Reject
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<
<div *ngIf="isAdmin">
  <!-- Pending Booking Approval section -->
  <div class="pending-approval-section-wrapper">
    <h2>Pending Booking Approval</h2>
    <!-- Pending Booking Approval section content -->
    <div class="pending-approval-section">
      <div class="pending-approval-cards">
        <!-- Iterate over pending booking approvals and display cards -->
        <div
          class="pending-approval-card"
          *ngFor="let pendingBooking of pendingBookings"
        >
          <!-- Pending booking approval card -->
          <div class="card">
            <div class="card-header">
              Pending Booking Approval - Date: {{ pendingBooking.date }}
            </div>
            <div class="card-body">
              <p class="card-text">Date: {{ pendingBooking.date }}</p>
              <p class="card-text">Status: {{ pendingBooking.status }}</p>
              <button
                class="btn btn-success"
                (click)="approveBooking(pendingBooking)"
              >
                Approve Booking
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Cancellation Approval section -->
  <div class="pending-cancellation-section-wrapper">
    <h2>Pending Cancellation Approval</h2>
    <!-- Pending Cancellation Approval section content -->
    <div class="pending-cancellation-section">
      <div class="pending-cancellation-cards">
        <!-- Iterate over pending cancellation approvals and display cards -->
        <div
          class="pending-cancellation-card"
          *ngFor="let pendingCancellation of pendingCancellations"
        >
          <!-- Pending cancellation approval card -->
          <div class="card">
            <div class="card-header">
              Pending Cancellation Approval - Date:
              {{ pendingCancellation.date }}
            </div>
            <div class="card-body">
              <p class="card-text">Date: {{ pendingCancellation.date }}</p>
              <p class="card-text">Status: {{ pendingCancellation.status }}</p>
              <button
                class="btn btn-danger"
                (click)="approveCancellation(pendingCancellation)"
              >
                Approve Cancellation
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
