.container {
  display: flex;
  flex-direction: column;
}

.booking-section-wrapper,
.swap-section-wrapper {
  width: 100%;
}

.booking-section,
.swap-section {
  margin-bottom: 30px;
}

.booking-cards,
.swap-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.booking-card,
.swap-card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  font-weight: 500;
  text-align: center;
}

.card-body {
  padding: 10px;
}

.btn {
  margin-top: 10px;
}
