<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <!-- Form Section -->
    <div
      class="form-section p-4 shadow bg-white rounded"
      style="width: 30vw; transform: translateX(00px)"
    >
      <h2 class="mb-4">Office Space Booking</h2>
      <form [formGroup]="bookingForm" (ngSubmit)="searchSpaces()">
        <div class="form-group">
          <label for="officeBuilding">Office Building:</label>
          <select
            id="officeBuilding"
            formControlName="officeBuilding"
            class="form-control"
            (change)="onBuildingChange($event.target.value)"
          >
            <option value="" disabled selected>Select Office Building</option>
            <option
              *ngFor="let building of officeNames"
              [value]="building.officeId"
            >
              {{ building.officeName }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="floor">Floor:</label>
          <select
            id="floor"
            formControlName="floor"
            class="form-control"
            (change)="onFloorChange($event.target.value)"
          >
            <option value="" disabled selected>Select Floor</option>
            <option *ngFor="let floor of floors" [value]="floor.floorId">
              {{ floor.floorNumber }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="spaceType">Space Type:</label>
          <select
            id="spaceType"
            formControlName="spaceType"
            class="form-control"
            [disabled]="!bookingForm.get('floor')?.value"
          >
            <option value="" disabled selected>Select Space Type</option>
            <!-- <option *ngFor="let seat of seats" [value]="spaceType">
              {{ spaceType }}
            </option> -->
            <option value="ALL">All Types</option>
            <option value="SEAT">Office Seats</option>
            <option value="CUBICLE">Cubicles</option>
          </select>
        </div>

        <div class="form-group">
          <label for="startDate">Start Date:</label>
          <input
            type="date"
            id="startDate"
            formControlName="startDate"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="startTime">Start Time:</label>
          <input
            type="time"
            id="startTime"
            formControlName="startTime"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="duration">Duration (hours):</label>
          <input
            type="number"
            id="duration"
            formControlName="duration"
            class="form-control"
          />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Search Spaces</button>
        </div>
      </form>
    </div>

    <!-- Available Spaces Section -->
    <div
      class="spaces-section p-4 shadow bg-white rounded"
      style="width: 30vw; transform: translateX(100px)"
      *ngIf="showSpaces"
    >
      <h3>Available Spaces</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Space Type</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let space of availableSpaces">
            <td>{{ space.name }}</td>
            <td class="text-center">{{ space.type }}</td>
            <td>{{ space.status }}</td>
            <td>
              <button
                class="btn mr-2"
                [ngClass]="{
                  'btn-success': space.status === 'Available',
                  'btn-secondary': space.status === 'Booked'
                }"
                (click)="bookSpace(space)"
                [disabled]="space.status === 'Booked'"
              >
                Book
              </button>
              <button
                *ngIf="space.booked"
                class="btn btn-warning"
                (click)="swapSpace(space)"
              >
                Swap
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
